{% extends "learning_logs/base.html" %}

{% block page_header %}
<div class="jumbotron">
    <h1 class="display-3">Lleva el Registro de tu Aprendizaje</h1>

    <p class="lead">Haga su propio Registro de Aprendizaje y mantenga una lista de los temas sobre los que está
        aprendiendo. siempre que aprenda algo nuevo sobre un tema, haga una entrada que resuma lo que ha aprendido.
    </p>

    {% if user.is_authenticated %}
        <a class="btn btn-lg btn-primary" href="{% url 'learning_logs:topics' %}" role="button">Temas &raquo;</a>
    {% else %}
        <a class="btn btn-lg btn-primary" href="{% url 'users:register' %}" role="button">Registrarse &raquo;</a>
    {% endif %}
</div>
{% endblock page_header %}