{% extends "learning_logs/base.html" %}

{% block content %}

<p>
    <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
</p>

<h1>
    Add a New Entry:
</h1>

<form action="{% url 'learning_logs:new_entry' topic.id %}" method="post">
    {# csrf tag es para preevenir ataques #}
    {% csrf_token %}
    {# variable form para que nos cree una forma y as_p para que agregue los elementos en formato de parrafo #}
    {{ form.as_p }}
    <button name="Submit">Add Entry</button>
</form>
{% endblock content %}