{% extends "learning_logs/base.html" %}
{% block content%}

<h1>Temas</h1>

{% for topic in topics.all %}
<div class="list-group w-auto">
    <a href="{% url 'learning_logs:topic' topic.id %}" class="list-group-item list-group-item-action d-flex gap-3 py-3"
        aria-current="true">
        <i class="fa-solid fa-arrow-right-from-line"></i>
        <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
                <h6 class="mb-0">{{topic}}</h6>
            </div>
            <small class="opacity-50 text-nowrap">{{topic.data_added}}</small>
        </div>
    </a>
</div>
{% endfor %}

<a href="{% url 'learning_logs:new_topic' %}">Agregar un Tema Nuevo</a>
{% endblock content %}